---
import { getEntry, render } from 'astro:content';
import Layout from '../layouts/LayoutLanding.astro';

const entry = await getEntry('pages', 'index');

if (!entry) {
	return Astro.redirect('/404');
}

const { Content } = await render(entry);
---

<Layout frontmatter={entry.data}>

	<Content />
	<section slot="footer-extra">
		<p>Todos os beneficios que se obteñan por calquera concepto destínanse exclusivamente ao cumprimento destes fins estatutarios, sen fins lucrativos.</p>
	</section>

</Layout>