---
import BaseLayout from './LayoutBasic.astro';
import { Image } from 'astro:assets';
import logo from '../assets/cascarillatech.svg';

const { title } = Astro.props.frontmatter || Astro.props;
---
<BaseLayout title={title}>
    <slot name="header-extra" slot="header-extra" />

    <main class="container">
        <Image src={logo} alt="Logo Cascarilla Tech A Coruña" class="logo" />
        <slot />
    </main>

    <slot name="footer-extra" slot="footer-extra" />
</BaseLayout>